<!DOCTYPE html> 
<html> 
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
	<title>Login</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css">
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
	<link href="{{ STATIC_URL }}bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.nav-tabs').button();
			
			$("#reg_btn").click(function() {
                var e = document.getElementById("type_session");
                e.selectedIndex = 0;
                $("#create_option").show();
                $("#username_div").show();
                $("#password_div").show();
                $("#view_sessions").show();
                $("#btn_input").value = this.value
            });
			
			$("#anon_btn").click(function() {
                var e = document.getElementById("type_session");
                e.selectedIndex = 1;
                $("#create_option").hide();
                $("#username_div").hide();
                $("#password_div").hide();
                $("#view_sessions").hide();
                $("#btn_input").val(this.value)
            });
			
		});
	</script>
	</head> 
	<body>
		<div data-role="page">
			<div id="container">
                <form action="login/" class="form-horizontal" method="post">
                    {% csrf_token %}
					<fieldset>
					<div class="control-group" id="username_div">
						<label class="control-label" for="username">Username:</label>
						<div class="controls">
							<input type="text" name="username" id="username" />
						</div>
					</div>
					
					<div class="control-group" id="password_div">
						<label class="control-label" for="password">Password:</label>
						<div class="controls">
							<input type="text" name="password" id="password" value="" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" id="session_id_label" for="session">Create/Join Session ID:</label>
						<div class="controls">
							<input type="text" name="session" id="session" value="" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="type_session">Create or Join:</label>
						<div class="controls">
							<select id="type_session" name="type_session">
								<option id="create_option" value="create">Create Session</option>
								<option id="join_option" value="join">Join Session</option>
                                <option id="view_sessions" value="view">View Session Data</option>
							</select>
						</div>
					</div>
						
					<div class="btn-group" data-toggle="buttons-radio" >
					  <button type="button" value="registered" class="btn active" name="type_login" id="reg_btn">Registered Login</button>
					  <button type="button" value="anonymous" class="btn" name="type_login" id="anon_btn">Anonymous Login</button>
					</div>
					<input type="hidden" name="optionLogin" value="registered" id="btn_input" />

                    {% if messages %}
                        <p></p>
                        {% for message in messages %}
                            <p class="text-error">{{ message }}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="form-actions">
						<button type="submit" class="btn btn-primary" class="btn">Login</button>
					</div>
				</form>
			</div>
		</div>

    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
	</body>
</html>