<!DOCTYPE html>
{% extends "template.html" %}
<html>
<head>
    {% block addtionalHeader %}
        <title>Professor Settings</title>
        <script type="text/javascript">
            $(function () {
                var next = 2;
                var rm_button = $('#b2');

                function addFormField() {
                    var addafter = "#metric" + next;
                    next = next + 1;
                    var newIn = '<label id="label' + next + '" for="metric' + next + '" class="control-label">Metric ' + next + ':</label><input class="span3" id="field' + next + '" name="metric' + next + '" type="text">';
                    var newInput = $(newIn);
                    $(addafter).after(newInput);
                    $("#field" + next).attr('data-source', $(addafter).attr('data-source'));
                    $("#count").val(next);
                    rm_button.removeAttr('disabled');
                }

                function removeFormField() {
                    $('#label' + next.toString()).remove();
                    $('#field' + next.toString()).remove();
                    next -= 1;
                    if (next == 1) {
                        rm_button.attr('disabled', 'disabled')
                    }
                }
            });
        </script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div data-role="page">
        <div data-role="header" class="center">
            <h1>{{ request.session.session_name }}</h1>
        </div>
        <!-- /header -->
        <form class="form-horizontal form-login form-wrapper form-medium" action="start/" method="post">
            {% csrf_token %}
            <fieldset>
                <h3>Types of Statistics</h3>

                <div class="control-group" id="uderstanding_div">
                    <label class="control-label" for="understanding_toggle">Understanding:</label>

                    <div class="controls">
                        <div id="understanding_toggle_button" class="switch">
                            <input type="checkbox" checked="checked" id="understanding_toggle"
                                   name="understanding_toggle">
                        </div>
                    </div>
                </div>

                <div class="control-group" id="interest_div">
                    <label class="control-label" for="interest_toggle">Interest:</label>

                    <div class="controls">
                        <div id="interest_toggle_button" class="switch">
                            <input type="checkbox" checked="checked" id="interest_toggle" name="interest_toggle">
                        </div>
                    </div>
                </div>

                <h3>General Settings</h3>

                <div class="control-group" id="sound_div">
                    <label class="control-label" for="sound">Sound Switch:</label>

                    <div class="controls">
                        <div id="sound_toggle_button" class="switch">
                            <input type="checkbox" checked="checked" name="sound_toggle">
                        </div>
                    </div>
                </div>

                <!--start session -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" class="btn">Start Session</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block endscript %}
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
{% endblock %}
</body>
</html>