<!DOCTYPE html>
{% extends "template.html" %}
<html>
<head>
    {% block addtionalHeader %}
        <title>Login</title>
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#b2').hide();
            });
            var next = 1;

            function addFormField() {
                var rm_button = $('#b2');
                var addafter = "#metric" + next;
                next = next + 1;
                var newIn = '<label id="label' + next + '" for="metric' + next + '" class="control-label">Metric ' + next + ':</label><input class="span3" id="metric' + next + '" name="metric' + next + '" type="text">';
                var newInput = $(newIn);
                $(addafter).after(newInput);
                $("#field" + next).attr('data-source', $(addafter).attr('data-source'));
                $("#count").val(next);
                rm_button.show();
            }

            function removeFormField() {
                var rm_button = $('#b2');
                $('#label' + next.toString()).remove();
                $('#metric' + next.toString()).remove();
                next -= 1;
                if (next == 1) {
                    rm_button.hide();
                }
            }


        </script>
        <script src="{{ async_url }}/socket.io/socket.io.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="content">
        <div id="dialog-form" style="width: auto; min-height: 21px; max-height: none; height: auto;"
             class="ui-dialog-content ui-widget-content">
            <div data-role="header" class="center">
                <h1 class="nav nav-tabs">{{ request.session.session_name }}</h1>
            </div>
            <form action="start/" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="controls" id="profs">
                        <div class="control-group" id="choices">
                            <label id="label1" for="metric1" class="control-label">Metric 1</label>
                            <input class="span3" id="metric1" type="text" name="metric1">
                            <a id="b1" class="btn" onclick="addFormField()">
                                <i class="icon-plus"></i>
                            </a>
                            <br>
                            <a id="b2" class="btn" onclick="removeFormField()">
                                <i class="icon-minus"></i>
                            </a>
                        </div>
                    </div>
                    <!--start session -->
                    <div class="form-actions">
                        <button type="submit" class="btn green big">GO LIVE!
                            <i class="m-icon-big-swapright m-icon-white"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
{% endblock %}
</body>
</html>