<!DOCTYPE html>
{% extends "template.html" %}
<html>
<head>
    {% block addtionalHeader %}
        <title>Professor Data</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrapSwitch.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
        <link href="{{ STATIC_URL }}bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"/>
        <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet"/>

        <!-- Flexslider -->
        <link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet"/>

        <!-- Theme style -->
        <link href="{{ STATIC_URL }}css/theme-style.css" rel="stylesheet"/>

        <!--Your custom colour override-->
        <link href="#" id="colour-scheme" rel="stylesheet"/>

        <!-- Your custom override -->
        <link href="{{ STATIC_URL }}css/custom-style.css" rel="stylesheet"/>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

        <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
        <link rel="shortcut icon" href="img/icons/favicon.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png"/>
        <link rel="apple-touch-icon-precomposed" href="img/icons/default.png"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet'
              type='text/css'/>
        <script type="text/javascript">
            $(function () {
                $("#question_input").change(function () {
                    $("#question_list").toggle();
                });

                function colorFromValue(value) {
                    var color;
                    if (value > 1) {
                        color = "#009933";
                    } else if (value > 0) {
                        color = "#33CC33";
                    } else if (value < -1) {
                        color = "#FF0000";
                    } else if (value < 0) {
                        color = "#FF3300";
                    } else {
                        color = "#FFFFFF";
                    }
                    return color;
                };

                setInterval(updatePercentage, 2000);

                function updatePercentage() {

                    $.get('all',function (data) {
                        var percentages = data[0]['percentages'];
                        var count = data[0]['count'];
                        for (var i = 0; i < percentages.length; i++) {
                            $('#Percent' + i.toString()).html(percentages[i]).css('background-color',
                                    colorFromValue(percentages[i]));
                        }

                        $("#count").html(count)
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert("Error" + errorThrown);
                            });

                    {% comment %}$.get('statisticsGet',function (data) {
                        data = data[0]['percentages']
                        for (var i = 0; i < data.length; i++) {
                            $('#Percent' + i.toString()).html(data[i]).css('background-color', colorFromValue(data[i]));
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert("Error" + errorThrown);
                            });{% endcomment %}
                    $.get('questions').done(function (questions) {
                        $("#List").empty();
                        $.each(questions, function (index, question) {
                            $("#List").append("<li>" + question.fields['question'] + "</li>");
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert("Error" + errorThrown);
                            });
                };

            });
        </script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="row">
        <div class="span9 blog-post">
            <div data-role="page">
                <div id="container">
                    <div data-role="header" class="center">
                        <h1>{{ request.session.session_name }}</h1>
                    </div>
                    <!-- /header -->

                    <div data-role="content" id="Percent">
                        {% for label in labels %}
                            <div class="control-group" id="question_switch_div">
                                <label class="control-label" for="{{ label }}_percent"
                                       class="large-label">{{ label }}</label>

                                <div class="controls">
                                    <h1 id="Percent{{ forloop.counter0 }}" style="text-align: center">0</h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div data-role="content" id="question_list">
                        <h3>Questions</h3>
                        <ul id="List">
                        </ul>
                    </div>

                    <div class="control-group" id="question_switch_div">
                        <label class="control-label" for="question_input">Display Question:</label>

                        <div class="controls">
                            <div id="question_toggle_button" class="switch">
                                <input type="checkbox" checked="checked" id="question_input">
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal" action="endsession/" method="post">
                        {% csrf_token %}
                        <div class="form-actions">
                            <button type="submit" id="end_sesssion" class="btn btn-primary">End Session</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="span3 sidebar sidebar-right">
            <div class="inner">
                <div class="block">
                    <h2>Number of Students</h2>
                    <span id="count">
                        0
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
{% endblock %}
</body>
</html>