<!DOCTYPE html>
{% extends "template.html" %}
<html>
<body>
{% block content %}
    <div class="row">
        <div class="span9 blog-post">
            <div data-role="page">
                <div id="container">
                    <div data-role="header" class="center">
                        <h1>{{ request.session.session_name }}</h1>
                    </div>
                    <!-- /header -->

                    <div data-role="content" id="Percent">
                        {% for label in labels %}
                            <div class="control-group" id="question_switch_div">
                                <label class="control-label" for="{{ label }}_percent"
                                       class="large-label">{{ label }}</label>

                                <div class="controls">
                                    <h1 id="Percent{{ forloop.counter0 }}" style="text-align: center">50 %</h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div data-role="content" id="question_list">
                        <h3>Questions</h3>
                        <ul id="List">
                        </ul>
                    </div>

                    <div class="control-group" id="question_switch_div">
                        <label class="control-label" for="question_input">Display Question:</label>

                        <div class="controls">
                            <div id="question_toggle_button" class="switch">
                                <input type="checkbox" checked="checked" id="question_input">
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal" action="endsession/" method="post">
                        {% csrf_token %}
                        <div class="form-actions">
                            <button type="submit" id="end_sesssion" class="btn btn-primary">End Session</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="span3 sidebar sidebar-right">
            <div class="inner">
                <div class="block">
                    <h2>Number of Students</h2>
                    <span id="count">
                        0
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
    <script src="{{ async_url }}/socket.io/socket.io.js"></script>

    <script type="text/javascript">

        $(function () {
            $("#question_input").change(function () {
                $("#question_list").toggle();
            });

            $.get('questions').done(function (questions) {
                $("#List").empty();
                $.each(questions, function (index, question) {
                    $("#List").append("<li>" + question.fields['question'] + "</li>");
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert("Error" + errorThrown);
                    });

            function colorFromValue(value) {
                var color;
                if (value > 100) {
                    color = "#009933";
                } else if (value > 75) {
                    color = "#33CC33";
                } else if (value < 50) {
                    color = "#FF0000";
                } else if (value < 25) {
                    color = "#FF3300";
                } else {
                    color = "#FFFFFF";
                }
                return color;
            };

            setInterval(updatePercentage, 2000);

            function updatePercentage() {

                $.get('all',function (data) {
                    var percentages = data[0]['percentages'];
                    var count = data[0]['count'];
                    for (var i = 0; i < percentages.length; i++) {
                        var percentage = $('#Percent' + i.toString())
                        percentage.html(percentages[i] + " %").css('background-color',
                                colorFromValue(percentages[i]));
                    }

                    $("#count").html(count)
                }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert("Error" + errorThrown);
                        });

            };
        });

        (function ($) {
            $(function () {
                var createMessage = function (message) {
                    $("#List").append("<li>" + message + "</li>")
                }
                var socket = io.connect('{{async_url}}');
                socket.on('message-create', function (data) {
                    console.log(data);
                    createMessage(data["question"]);
                });
            })
        })(jQuery)



    </script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
{% endblock %}
</body>
</html>