<!DOCTYPE html> 
<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
		<title>Professor Settings</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrapSwitch.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css">
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
        <link href="{{ STATIC_URL }}bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
        <script src="{{ STATIC_URL }}js/Chart.min.js"></script>
		<script type="text/javascript">
        $(function () {
            {% for x, y, label in changes %}
            var ctx = $("#chart_{{ label }}").get(0).getContext("2d");
            var data = {
                labels : {{ x }},
                datasets : [
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : {{ y }}
                    }
                ]
            }
            var myNewChart = new Chart(ctx).Line(data);
            {% endfor %}
        });
		</script>
	</head> 
	<body>
		<div data-role="page">
			<div id="container">
				<div data-role="header" class="center">
					<h1>{{ request.session.session }}</h1>
				</div><!-- /header -->
                {% for x, y, label in changes %}
                    <label for="chart_{{ label }}"><strong>{{ label }}</strong></label>
                    <canvas id="chart_{{ label }}" width="800" height="400"></canvas>
                {% endfor %}
			</div>
		</div>

        <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
	</body>
</html>