<!DOCTYPE html>
<html lang="en">
<head>
<head>
</head>

<body class="page page-about">
{% extends "template.html" %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="row-fluid">
            <h2 class="title-divider"><span>Our <span class="de-em">Customers</span></span>
                <small>99% of our customers recommend us!</small>
            </h2>
            <ul class="nav nav-tabs hidden-phone" id="quicksand-categories">
                <li class="active"><a href="#" class="all">All Industries</a></li>
                <li><a href="#" class="type-web">Web</a></li>
                <li><a href="#" class="type-design">Design</a></li>
                <li><a href="#" class="type-media">Media</a></li>
            </ul>
        </div>

        <!--Customers-->
        <ul class="thumbnails block customers" id="quicksand">
            <li class="span4 type-web" data-id="id-0" data-type="type-web"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/github.png"
                                                                          alt="GitHub"/></span> <span class="title">GitHub</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-design" data-id="id-1" data-type="type-design"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img
                    src="{{ STATIC_URL }}img/customers/vodafone.jpg" alt="Vodafone"/></span> <span class="title">Vodafone</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-web" data-id="id-2" data-type="type-web"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/amazon.jpg"
                                                                          alt="Amazon"/></span> <span class="title">Amazon</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-design" data-id="id-3" data-type="type-design"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/css3.jpg"
                                                                          alt="CSS3"/></span> <span
                    class="title">CSS3</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-web" data-id="id-4" data-type="type-web"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/jquery.png"
                                                                          alt="jQuery"/></span> <span class="title">jQuery</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-media" data-id="id-5" data-type="type-media"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/google.jpg"
                                                                          alt="Google"/></span> <span class="title">Google</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-media" data-id="id-6" data-type="type-media"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/ebay.png"
                                                                          alt="eBay"/></span> <span
                    class="title">eBay</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-design" data-id="id-7" data-type="type-design"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/less.png"
                                                                          alt="LESS"/></span> <span
                    class="title">LESS</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-media" data-id="id-8" data-type="type-media"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/html5.png"
                                                                          alt="HTML5"/></span> <span
                    class="title">HTML5</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-media" data-id="id-9" data-type="type-media"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img src="{{ STATIC_URL }}img/customers/yahoo.jpeg"
                                                                          alt="Yahoo"/></span> <span
                    class="title">Yahoo</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-media" data-id="id-10" data-type="type-media"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img
                    src="{{ STATIC_URL }}img/customers/youtube.png" alt="YouTube"/></span> <span
                    class="title">YouTube</span> <span class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
            <li class="span4 type-design" data-id="id-11" data-type="type-design"><a href="http://themelize.me"> <span
                    class="inner-wrapper"> <span class="img-wrapper"><img
                    src="{{ STATIC_URL }}img/customers/bitbucket.png" alt="BitBucket"/></span> <span class="title">BitBucket</span> <span
                    class="description">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</span> </span>
            </a></li>
        </ul>
    </div>
</div>
{% endblock %}
<!--Scripts -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>

<!-- @todo: remove unused Javascript for better performance -->
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

<!--Non-Bootstrap JS-->
<script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="{{ STATIC_URL }}js/script.js"></script>
<!--Tooltip for partners scroller -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#portfolio-categories').scrollspy();
    });
</script>
</body>
</html>