<!DOCTYPE html>
<html lang="en">
<head>
<head>
</head>

<body class="page page-about">
{% extends "template.html" %}
{% block content %}
<div id="content">
    <div class="container">
        <!-- Services -->
        <div class="block features">
            <h2 class="title-divider"><span>Core <span class="de-em">Features</span></span>
                <small>Core features included in all plans.</small>
            </h2>
            <ul class="thumbnails">
                <li class="span3"><img src="{{ STATIC_URL }}img/features/feature-1.png" alt="Feature 1"/>

                    <h3 class="title"><a href="#">Mobile <span class="de-em">Friendly</span></a></h3>

                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
                        Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                </li>
                <li class="span3"><img src="{{ STATIC_URL }}img/features/feature-2.png" alt="Feature 2"/>

                    <h3 class="title"><a href="#">24/7 <span class="de-em">Support</span></a></h3>

                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
                        Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                </li>
                <li class="span3"><img src="{{ STATIC_URL }}img/features/feature-3.png" alt="Feature 3"/>

                    <h3 class="title"><a href="#">Free Upgrade <span class="de-em">Assistance</span></a></h3>

                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
                        Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                </li>
                <li class="span3"><img src="{{ STATIC_URL }}img/features/feature-4.png" alt="Feature 4"/>

                    <h3 class="title"><a href="#">99.9% <span class="de-em">Uptime</span></a></h3>

                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
                        Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                </li>
            </ul>
            <div class="row">
                <!-- Secondary features -->
                <div class="span9">
                    <h3 class="title-divider"><span>Bonus <span class="de-em">Features</span></span>
                        <small>Bonus features only included in our Pro & Pro + plans.</small>
                    </h3>
                    <div class="tabbable tabs-left feature-tabs row-fluid">
                        <ul class="nav nav-tabs span4 hidden-phone">
                            <li class="active"><a href="#tab1" data-toggle="tab">Mobile Friendly
                                <small>Cause mobile matters</small>
                                <i class="icon-angle-right"></i></a></li>
                            <li><a href="#tab2" data-toggle="tab">24/7 Support
                                <small>When you need it most</small>
                                <i class="icon-angle-right"></i></a></li>
                            <li><a href="#tab3" data-toggle="tab">Upgrade Assistance
                                <small>FREE upgrades for life!</small>
                                <i class="icon-angle-right"></i></a></li>
                            <li><a href="#tab4" data-toggle="tab">99.9% Uptime
                                <small>Rhoncus adipiscing</small>
                                <i class="icon-angle-right"></i></a></li>
                        </ul>
                        <div class="tab-content span8">
                            <div class="tab-pane active" id="tab1"><img src="{{ STATIC_URL }}img/features/feature-1.png"
                                                                        alt="Feature 1"/>

                                <h3 class="title visible-phone">Mobile Friendly</h3>
                                <!--only show on mobile when tabs are open-->
                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst,
                                    odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a
                                    nascetur.</p>

                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
                            </div>
                            <div class="tab-pane" id="tab2"><img src="{{ STATIC_URL }}img/features/feature-2.png"
                                                                 alt="Feature 2"/>

                                <h3 class="title visible-phone">24/7 Support</h3>
                                <!--only show on mobile when tabs are open-->
                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst,
                                    odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a
                                    nascetur.</p>

                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
                            </div>
                            <div class="tab-pane" id="tab3"><img src="{{ STATIC_URL }}img/features/feature-3.png"
                                                                 alt="Feature 3"/>

                                <h3 class="title visible-phone">Upgrade Assistance</h3>
                                <!--only show on mobile when tabs are open-->
                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst,
                                    odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a
                                    nascetur.</p>

                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
                            </div>
                            <div class="tab-pane" id="tab4"><img src="{{ STATIC_URL }}img/features/feature-4.png"
                                                                 alt="Feature 4"/>

                                <h3 class="title visible-phone">99.9% Uptime</h3>
                                <!--only show on mobile when tabs are open-->
                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst,
                                    odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a
                                    nascetur.</p>

                                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Contact block-->
                <div class="span3">
                    <h3 class="title-divider"><span>Questions?</span>
                        <small>Get in touch!</small>
                    </h3>
                    <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 019223 8092344</p>

                    <p><abbr title="Email"><i class="icon-envelope"></i></abbr> info@themelize.me</p>

                    <p><abbr title="Address"><i class="icon-home"></i></abbr> Sunshine House, Sunville. SUN12 8LU.</p>

                    <form id="contact-form" action="#" class="bordered-top-medium"/>
                    <input type="text" class="span2" placeholder="Your Number"/>
                    <input type="button" class="btn btn-inverse" value="Request A Callback"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Scripts -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>

<!-- @todo: remove unused Javascript for better performance -->
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

<!--Non-Bootstrap JS-->
<script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="{{ STATIC_URL }}js/script.js"></script>
</body>
</html>