<!DOCTYPE html>
<html lang="en">
<head>
<head>
</head>

<body class="page page-about">
{% extends "template.html" %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="block">

            <!--Default Pricing Table-->
            <h2 class="title-divider"><span>Pricing <span class="de-em">Plans</span></span>
                <small>Competitive pricing for all your needs.</small>
            </h2>

            <!--Stack 1-->
            <div class="row pricing-stack">
                <div class="span3">
                    <div class="well">
                        <h3 class="title">Starter</h3>

                        <p class="price"><span class="fancy">Free!</span></p>
                        <ul class="unstyled points">
                            <li>3 User Accounts</li>
                            <li>3 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>5GB of space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
                <div class="span3">
                    <div class="well active">
                        <h3 class="title"><span class="em">Pro</span> <span class="fancy">Plus</span></h3>

                        <p class="price"><span class="currency">$</span> <span class="digits">49<span>.95</span></span>
                            <span class="term">/MO</span></p>
                        <ul class="unstyled points">
                            <li>50 User Accounts</li>
                            <li>50 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
                <div class="span3">
                    <div class="well active">
                        <h3 class="title"><span class="em">Biz</span> <span class="fancy">Plus</span></h3>

                        <p class="price"><span class="currency">$</span> <span class="digits">199<span>.95</span></span>
                            <span class="term">/MO</span></p>
                        <ul class="unstyled points">
                            <li>Umlimited User Accounts</li>
                            <li>Umlimited Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
                <div class="span3">
                    <div class="well">
                        <h3 class="title">Starter <span class="fancy">Plus</span></h3>

                        <p class="price"><span class="currency">$</span> <span class="digits">19<span>.95</span></span>
                            <span class="term">/MO</span></p>
                        <ul class="unstyled points">
                            <li>10 User Accounts</li>
                            <li>10 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>15GB of space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
            </div>
            <div class="row pricing-stack bordered-top-large">
                <div class="offset1 span3">
                    <div class="well">
                        <h3 class="title">Starter</h3>

                        <p class="price"><span class="fancy">Free!</span></p>
                        <ul class="unstyled points">
                            <li>3 User Accounts</li>
                            <li>3 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>5GB of space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
                <div class="span4">
                    <div class="well active">
                        <h3 class="title"><span class="em">Pro</span> <span class="fancy">Plus</span></h3>

                        <p class="price"><span class="currency">$</span> <span class="digits">49<span>.95</span></span>
                            <span class="term">/MO</span></p>
                        <ul class="unstyled points">
                            <li>50 User Accounts</li>
                            <li>50 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
                <div class="span3">
                    <div class="well">
                        <h3 class="title">Starter <span class="fancy">Plus</span></h3>

                        <p class="price"><span class="currency">$</span> <span class="digits">19<span>.95</span></span>
                            <span class="term">/MO</span></p>
                        <ul class="unstyled points">
                            <li>10 User Accounts</li>
                            <li>10 Private Projects</li>
                            <li>Umlimited Public Projects</li>
                            <li>15GB of space</li>
                        </ul>
                        <a class="btn btn-primary">Sign Up</a></div>
                </div>
            </div>
            <div class="row-fluid">
                <!-- Plan features -->
                <div class="well well-mini pull-center">
                    <h4 class="inline-el pad-right"><span>All Plans <span class="de-em">Include</span>:</span></h4>

                    <p class="inline-el pad-left muted">90 day money back guarantee <span class="spacer">//</span> 24/7
                        telephone support <span class="spacer">//</span> FREE Setup <span class="spacer">//</span>
                        Migration Help <span class="spacer">//</span> Developer API</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block endscript %}<!--Scripts -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>

<!-- @todo: remove unused Javascript for better performance -->
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

<!--Non-Bootstrap JS-->
<script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="{{ STATIC_URL }}js/script.js"></script>{% endblock %}
</body>
</html>