<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<head>
</head>

<body class="page page-about">
{% extends "template.html" %}
{% block content %}
    <div id="content">
        <div class="container">
            <!-- Sign Up form -->
            <form action="sign_post/" class="form-login form-wrapper form-medium" method="post">
                {% csrf_token %}
                <h3 class="title-divider"><span>Sign Up</span>
                    <small>Already signed up? <a href="login.html">Login here</a>.</small>
                </h3>
                <h5>Price Plan</h5>
                <select>
                    <option/>
                    Basic
                    <option/>
                    Pro
                    <option/>
                    Pro +
                </select>
                <h5>Account Information</h5>
                <fieldset>
                    <div class="control-group" id="firstname_div">
                        <div class="controls">
                            <input type="text" class="input-block-level" placeholder="First name" name="first_name" id="first_name"/>
                        </div>
                    </div>
                    <div class="control-group" id="lastname_div">
                        <div class="controls">
                            <input type="text" class="input-block-level" placeholder="Last name" name="last_name"  id="last_name"/>
                        </div>
                    </div>
                    <div class="control-group" id="username_div">
                        <div class="controls">
                            <input type="text" class="input-block-level" placeholder="Username" name="username"  id="username"/>
                        </div>
                    </div>
                    <div class="control-group" id="email_div">
                        <div class="controls">
                            <input type="text" class="input-block-level" placeholder="Email address" name="email_address"
                                   id="email_address"/>
                        </div>
                    </div>
                    <div class="control-group" id="password_div">
                        <div class="controls">
                            <input type="password" class="input-block-level" placeholder="Password" name="password" id="password"/>
                        </div>
                    </div>
                    <div class="control-group" id="term_div">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" value="term" id="term" name="term" />
                                I agree with the Terms and Conditions. </label>
                            <button class="btn btn-primary" type="submit">Sign up</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <!--Scripts -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- @todo: remove unused Javascript for better performance -->
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

    <!--Non-Bootstrap JS-->
    <script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>

    <!--Custom scripts mainly used to trigger libraries -->
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
</body>
</html>